.boton-volver{
  text-align: right;
  padding: 1%;
}

.pdf-viewer{
  margin: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


@media(max-width: 1055px) {

  .pdf-viewer{
    margin: 0%;
    margin-left: 0;
    margin-right: 0;
  }

  #mainContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100% !important;
    overflow-x: hidden;
}

}
