<div class="fondo">
<div class="boton-volver">
  <button mat-raised-button color="warn" (click)="volverReunion()">Volver Reunión</button>
</div>
<div class="pdf-viewer">
<ngx-extended-pdf-viewer
[src]="pdfSrc"
  [useBrowserLocale]="true"
  [textLayer]="true"
  [filenameForDownload] = "tituloPDF"
  [showHandToolButton]="true"
  [showOpenFileButton]="false"
  [height]="'90vh'" >
</ngx-extended-pdf-viewer>
</div>
