/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~ng-pick-datetime/assets/style/picker.min.css";
button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;

}

//For the views that contains a list
.headerOfComponent {
    padding-top: 2%;
    padding-bottom: 2%;
}

.formularioCreador {
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 800px;

}

.input-full-width {
    width: 60%;
    text-align: center;
}

html, body {
    height: 100%;

  }

  html, body {
    margin: 0;
    background-color: #3f51b5;
    //background-image: linear-gradient(to bottom,#3f51b5,white);
    //overflow: hidden;//agregado por responsive mobile
    //overflow-y: auto;//idem arriba
   // overflow-x: hidden;
  }

  .full-height {
    height: 100%;
  }



