.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height:auto;
  min-height: 100%;
   width:100%;
   position: absolute;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.mat-raised-button{
  margin: 1%;

}

.mat-raised-button.mat-primary{
  background-color: cornflowerblue;
}

.mat-card{
  text-align: inherit;
}

.mat-elevation-z6{
  text-align: inherit;
}

.headerOfComponent {
  padding: 0;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
}



.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.div-contenido{
  display: flex;
}

.div-contenido p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-contenido ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-contenido ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.contenido-item{
  padding-left: 1%;
  width: 100%;
}

.contenido-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-decision{
  font-style: italic;
  display: flex;
  padding-left: 1%;
}

.div-decision p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-decision ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contenido-decision{
  padding-left: 1%;
  width: 100%;
}

.contenido-decision p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-comentario-nombre{
  font-weight: bold;
}

.div-anexo{
  text-align: right;
}

.textoCentrado{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.textoIzquierda{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.textoIzquierdaNegrita{
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.boton-volver{
  text-align: right;
}


.mat-elevation-z6-tituloTabla{
  //margin: 1%;
  padding: auto;
  display: inline-block;
  text-align: center;

}

.textoIzquierda h2{
  text-align: center;
  margin: 0;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-5{
  text-align: center;
  color: white;
}

.boton-agregar{
  text-align: left;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
  background-color: transparent;
}

.botones-guardarComentarios{
  text-align: center;
}

.botones-texto{
  text-align: right;
}

.botones-editarComentario{
  text-align: right;
  display: flex;
}



.h1{
  color: black;
}



// CSS Mobile
@media(max-width: 1055px) {

  .div-contenido{
    display: block;
  }




}
