<div class="fondo">
<div class="user-div">

  <div class="div-titulo-pag">
    <h2 class="display-5">{{title}}</h2>
    <hr>
  </div>
  <div class="boton-volver">
    <button mat-raised-button color="warn" (click)="goToDecisiones()">Volver Decisiones</button>
  </div>
  <div class="boton-agregar">
    <button mat-raised-button color="primary" (click)="mostrarDivAgregar()">Agregar comentario</button>
    <button mat-raised-button color="primary" *ngIf="!mostrarMisComentarios" (click)="mostrarDivMisComentarios()">Mis comentarios</button>
    <button mat-raised-button color="primary" *ngIf="mostrarMisComentarios" (click)="ocultarDivMisComentarios()">Volver comentarios</button>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <div *ngIf="item">
        <div class="div-contenido">
          <div> {{item.numero}}. </div>
          <div class="contenido-item" [innerHTML]=item.contenido></div>
        </div>
        <div *ngIf="decision">
          <div class="div-decision">
            <div>Respuesta:</div>
            <div class="contenido-decision" [innerHTML]=decision.contenido></div>
          </div>
        </div>
        <!--div class="div-anexo">
              <button mat-raised-button *ngIf="esSecretario" (click)="verDecision(item.id)">Decision</button>
              <button mat-raised-button *ngIf="esMiembroConsejo" (click)="verDecision(item.id)">Ver comentarios</button>
              <button mat-raised-button *ngIf="esMiembroConsejo" (click)="verDecision(item.id)">Comentar</button>
            </div-->
      </div>
      <div *ngIf="!item">
        Buscando Item...
      </div>
      <div *ngIf="!decision">
        Buscando decisión...
      </div>
    </mat-card>
  </div>

  <div *ngIf="crearComentario">
    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">
        <ejs-richtexteditor #toolsRTE id='alltoolRTE' [(value)]='value' [toolbarSettings]='tools'> </ejs-richtexteditor>
        <div class="botones-texto">
          <button mat-raised-button color="basic" [disabled]=!cargoDecision (click)="validarTexto()">Confirmar
            texto</button>
          <button mat-raised-button color="warn" (click)="limpiarTexto()">Borrar texto</button>
        </div>
      </mat-card>


      <div class="botones-guardarComentarios">
        <button mat-raised-button color="primary" *ngIf="!editState" [disabled]=!textoValido
          (click)="guardarComentario()">Guardar</button>
        <button mat-raised-button color="primary" *ngIf="editState" [disabled]=!textoValido
          (click)="editarComentario()">Guardar</button>
        <button mat-raised-button color="warn" (click)="ocultarDivAgregar()">Cancelar</button>
      </div>
    </div>
  </div>


  <div class="div-todosComentarios" *ngIf="!mostrarMisComentarios">
    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">
        <h2>{{tituloComentarios}}</h2>
        <div class="div-comentarios" *ngIf="comentarios">
          <div *ngIf="comentarios.length; else noComentarios">
            <div *ngFor="let comentario of comentarios">
              <div class="div-contenido">
                <div class="div-comentario-nombre">{{comentario.nombre}}&nbsp;{{comentario.apellido}}: </div>
                <div class="contenido-item" [innerHTML]=comentario.contenido></div>
              </div>
              <hr>
            </div>
          </div>
          <ng-template #noComentarios>
            <div>
              No hay Comentarios
            </div>
          </ng-template>
        </div>
        <div *ngIf="!comentarios">
          Buscando Comentarios...
        </div>
      </mat-card>
    </div>
  </div>



  <div class="div-misComentarios" *ngIf="mostrarMisComentarios">
    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">
        <h2>{{tituloComentarios}}</h2>
        <div *ngIf="misComentarios">
          <div *ngIf="misComentarios.length; else noMisComentarios">
            <div *ngFor="let comentario of misComentarios">
              <div class="div-contenido">
                <div><b> {{comentario.nombre}}&nbsp;{{comentario.apellido}}: </b></div>
                <div class="contenido-item" [innerHTML]=comentario.contenido></div>
                <div class="botones-editarComentario">
                  <button mat-button matTooltip="Editar" (click)="irEditarComentario(comentario.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button matTooltip="Eliminar" (click)="eliminarComentario(comentario.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <hr>
            </div>
          </div>
          <ng-template #noMisComentarios>
            <div>
              No hay Comentarios
            </div>
          </ng-template>
        </div>
        <div *ngIf="!misComentarios">
          Buscando Comentarios...
        </div>
      </mat-card>
    </div>
  </div>
</div>
