.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height:auto;
  min-height: 100%;
   width:100%;
   position: absolute;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.mat-raised-button{
  margin: 1%;
}

.mat-card{
  text-align: inherit;
}

.mat-elevation-z6{
  text-align: inherit;
}

.headerOfComponent {
  padding: 0;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
}

.display-4{
  margin: 0px;
  color: black;
}

.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.div-flechas{
  width: 0%; // esta en cero para que no se solapen por el encapsualtion none.
  float: left;
  text-align: right;
  overflow: hidden;
}

.grilla{
  overflow: hidden;
}

.div-contenido{
  display: flex;
  width: 100%;
  float: left;
  overflow: hidden;
}

.div-contenido p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-contenido ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-contenido ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.contenido-item{
  padding-left: 1%;
  width: 100%;
}

.contenido-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-decision{
  font-style: italic;
  display: flex;
  padding-left: 3%;
}

.div-decision p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-decision ul,ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contenido-decision{
  padding-left: 1%;
  width: 100%;
}

.contenido-decision p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}



.div-anexo{
  text-align: right;
}

.textoCentrado{
text-align: center;
display: flex;
    flex-direction: column;
    padding: 5%;

    padding-top: 1%;
    padding-bottom: 1%;
}

.textoIzquierda{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.textoIzquierdaNegrita{
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.boton-volver{
  text-align: right;
}


.mat-elevation-z6-tituloTabla{
  //margin: 1%;
  padding: auto;
  display: inline-block;
  text-align: center;

}


