<div class="fondo">
<div class="boton-volver">
  <button mat-raised-button color="warn" (click)="goToOrdendia()">Volver Orden día</button>
</div>
<div class="user-div">


  <!--div class="botones-agregar" *ngIf="esAdmin"> esto estaba de mas

    <button mat-raised-button color="primary" (click)="goToAgregarItemComun()">Agregar Item</button>

    <button mat-raised-button color="primary" (click)="goToAgregarItemSobretabla()">Agregar Item Sobretabla</button>

    <button mat-raised-button color="primary" (click)="goToAgregarItemComunicacion()">Agregar Comunicacion</button>


    <button mat-raised-button color="primary" (click)="descargarPDF()">Generar PDF</button>

  </div-->
  <div class="headerOfComponent">
    <mat-card class="mat-elevation-z6-tituloTabla">
      <h1 class="display-4">{{titulo}}</h1>
    </mat-card>
  </div>

  <div class="textoCentrado">
    <div *ngIf="introduccion">
      <mat-card class="mat-elevation-z6" [innerHTML]=introduccion></mat-card>
    </div>
    <div class="headerOfComponent" *ngIf="!introduccion">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h3 >Generando introduccion...</h3>
      </mat-card>
    </div>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <div *ngIf="itemsComunes">
        <div *ngIf="itemsComunes.length; else noItems">
          <div *ngFor="let itemcomun of itemsComunes">
            <div class="grilla">

            <div class="div-contenido">
              <div> {{itemcomun.numero}}. </div>
              <div class="contenido-item" [innerHTML]=itemcomun.itemcontenido></div>
            </div>

            <div class="div-flechas">

            </div>
          </div>

            <div class="div-decision" >
            <div>Respuesta:</div>   <!--div>&#10004;</div-->
              <div class="contenido-decision" [innerHTML]=itemcomun.decisioncontenido></div>
            </div>
            <div class="div-anexo">
              <button mat-raised-button *ngIf="itemcomun.adjunto" (click)="verAdjunto(itemcomun.id)">Ver Adjunto</button>
              <button mat-raised-button *ngIf="esSecretario||esAdmin" (click)="verDecision(itemcomun.id)">Decision</button>
              <button mat-raised-button *ngIf="esMiembroConsejo" (click)="verComentarios(itemcomun.id)">Comentarios({{itemcomun.cantComentarios}})</button>
            </div>
          </div>
        </div>
        <ng-template #noItems>
          <div>
            No hay Items comunes
          </div>
        </ng-template>
      </div>
      <div *ngIf="!itemsComunes">
        Buscando Items Comunes...
      </div>
    </mat-card>
  </div>

  <div class="textoIzquierdaNegrita">
    <mat-card class="mat-elevation-z6">
      {{separadorSobretabla}}
    </mat-card>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <div *ngIf="itemsSobretabla">
        <div *ngIf="itemsSobretabla.length; else noItemsSobretabla">
          <div *ngFor="let itemSobretabla of itemsSobretabla">
            <div class="div-contenido">
              <div> {{itemSobretabla.numero}}. </div>
              <div class="contenido-item" [innerHTML]=itemSobretabla.itemcontenido></div>
            </div>
            <div class="div-decision" >
            <div>Respuesta:</div>
              <div class="contenido-decision" [innerHTML]=itemSobretabla.decisioncontenido></div>
            </div>
            <div class="div-anexo">
              <button mat-raised-button *ngIf="itemSobretabla.adjunto" (click)="verAdjunto(itemSobretabla.id)">Ver Adjunto</button>
              <button mat-raised-button *ngIf="esSecretario||esAdmin" (click)="verDecision(itemSobretabla.id)">Decision</button>
              <button mat-raised-button *ngIf="esMiembroConsejo" (click)="verComentarios(itemSobretabla.id)">Comentarios({{itemSobretabla.cantComentarios}})</button>
            </div>
          </div>
        </div>
        <ng-template #noItemsSobretabla>
          <div>
            No hay ítems sobretabla
          </div>
        </ng-template>
      </div>
      <div *ngIf="!itemsSobretabla">
        Buscando Items Sobretabla...
      </div>
    </mat-card>
  </div>

  <div class="textoIzquierdaNegrita">
    <mat-card class="mat-elevation-z6">
      {{separadorComunicaciones}}
    </mat-card>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <div *ngIf="itemsComunicacion">
        <div *ngIf="itemsComunicacion.length; else noItemsComunicacion">
          <div *ngFor="let comunicacion of itemsComunicacion">
            <div class="div-contenido">
              <div> {{comunicacion.numero}}. </div>
              <div class="contenido-item" [innerHTML]=comunicacion.itemcontenido></div>
            </div>
            <div class="div-decision" >
            <div>Respuesta:</div>
              <div class="contenido-decision" [innerHTML]=comunicacion.decisioncontenido></div>
            </div>
            <div class="div-anexo">
              <button mat-raised-button *ngIf="comunicacion.adjunto" (click)="verAdjunto(comunicacion.id)">Ver Adjunto</button>
              <button mat-raised-button *ngIf="esSecretario||esAdmin" (click)="verDecision(comunicacion.id)">Decision</button>
              <button mat-raised-button *ngIf="esMiembroConsejo" (click)="verComentarios(comunicacion.id)">Comentarios({{comunicacion.cantComentarios}})</button>
            </div>
          </div>
        </div>
        <ng-template #noItemsComunicacion>
          <div>
            No hay comunicaciones
          </div>
        </ng-template>
      </div>
      <div *ngIf="!itemsComunicacion">
        Buscando Comunicaciones...
      </div>
    </mat-card>
  </div>
</div>
</div>
