<div class="fondo">
  <div class="user-div">

    <div class="div-titulo-pag">
      <h2 class="display-4">Listado de Reuniones</h2>
      <hr>
    </div>

    <div class="container-fluid boton-div" *ngIf="showABMReunion">
      <button mat-raised-button class="boton-crear" color="primary" (click)="goToCrearReunion()">Crear Reunión</button>
    </div>

    <div class="div-input">
      <mat-card class="mat-elevation-z6">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese fecha">
        </mat-form-field>
      </mat-card>
    </div>

    <div class="example-container mat-elevation-z8" *ngIf="reuniones.length">
      <mat-table #table [dataSource]="dataSource">

        <!-- Fecha Column -->
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Fecha</span>
            <div class="colum-mobile">
              {{element.fecha}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Tipo Column -->
        <ng-container matColumnDef="Tipo">
          <mat-header-cell *matHeaderCellDef>Tipo</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Tipo</span>
            <div class="colum-mobile">
              {{element.tipo}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Numero Column -->
        <ng-container matColumnDef="Nro">
          <mat-header-cell *matHeaderCellDef>Nro</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Nro</span>
            <div class="colum-mobile">
              {{element.numero}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Asistencia Column -->
        <ng-container matColumnDef="Asistencia">
          <mat-header-cell *matHeaderCellDef>Asistencia</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Asistencia</span>
            <div class="colum-mobile">
              <button mat-button matTooltip="" (click)="showAsistencia(element.id)">
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Orden dia Column -->
        <ng-container matColumnDef="Ordendia">
          <mat-header-cell *matHeaderCellDef>Orden del día</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Orden del día</span>
            <div class="colum-mobile">
              <button mat-button matTooltip="" (click)="showOrdendia(element.ordendia_id)">
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Decisiones Column -->
        <ng-container matColumnDef="Decisiones">
          <mat-header-cell *matHeaderCellDef>Decisiones</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Decisiones</span>
            <div class="colum-mobile">
              <button mat-button matTooltip="" (click)="showDecision(element.ordendia_id)">
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acta Column -->
        <ng-container matColumnDef="Acta">
          <mat-header-cell *matHeaderCellDef>Acta</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acta</span>
            <div class="colum-mobile">
              <button mat-button matTooltip="" (click)="showActa(element.ordendia_id)">
                <mat-icon>launch</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Asistiras Column -->
        <ng-container matColumnDef="Asistiras">
          <mat-header-cell *matHeaderCellDef>¿Asistirás?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">¿Asistirás?</span>
            <div class="colum-mobile">
              {{element.asistira}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Quorum Column -->
        <ng-container matColumnDef="Quorum">
          <mat-header-cell *matHeaderCellDef>¿Hay quórum?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">¿Hay quórum?</span>
            <div class="colum-mobile">
              {{element.quorum}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acciones</span>
            <div class="colum-mobile">
              <div *ngIf="showAcciones">
                <div *ngIf="showABMReunion">
                  <button mat-button matTooltip="Editar" (click)="editReunion(element.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button matTooltip="Eliminar" (click)="confirmarEliminarReunion(element.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div *ngIf="showConfirmarAsistencia">
                  <button mat-stroked-button (click)="cambiarAsistencia(element.id)">Cambiar asistencia</button>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
      </mat-table>
    </div>
    <div class="example-container mat-elevation-z8" *ngIf="reuniones.length===0">
      <mat-card class="mat-elevation-z6">
      <div class="noReuniones">No hay reuniones.</div>
      </mat-card>
    </div>
  </div>
</div>
