.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.boton-div {
  padding-bottom: 2%;
}

.boton-crear{
  background-color:  cornflowerblue;
}

.mat-elevation-z6{
   display: inline-block;
  text-align: center;
  padding-bottom: 0;
  padding-top: 0;
}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;;
}

.display-4{
  margin: 0px;
}

.input-full-width {
  width: 60%;
  text-align: center;
}

.div-input {
  padding: 2%;
  padding-top: 0%;
  padding-bottom: 2%;
  text-align: center;
}

input {
  font-size: larger;
}

.h1{
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.backCreate {
  margin-left: 5%;
}

.input-full-width {
  width: 60%;
  text-align: center;
}

.h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
  color: white;
}

.noReuniones{
  font-size: larger;
}

.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}


.mat-header-cell{
  font-weight: bold;
  color: black;
  font-size: 15px;
  justify-content: center;
}

.example-container {
  max-width: 1200px;
  margin: auto;

  display: inline-flex;
 }

.mat-table {
  margin: auto;

  padding: 1%;
}

.mobile-label {
  display: none;
}

.mat-footer-row, mat-row {
  min-height: auto;
}

.mat-header-cell{
  text-align: center;
}

.mat-cell{
  font-size: medium;
  justify-content: center;
}

.mat-column-Acciones{
  display: flex;
}


.mat-button{
  min-width: auto;
}

.mat-column-Fecha{

  width: fit-content;
  min-width: 160px;
}

.mat-column-Tipo{

  width: fit-content;
  min-width: 100px;
}

.mat-column-Nro{
  width: fit-content;
  min-width: 40px;
}

.mat-column-Asistencia{
  width: fit-content;
  min-width: 74px;
}

.mat-column-Ordendia{
  width: fit-content;
  min-width: 100px;
}

.mat-column-Decisiones{
  width: fit-content;
  min-width: 80px;
}

.mat-column-Acta{
  width: fit-content;
  min-width: 35px;
}

.mat-column-Asistiras{
  width: fit-content;
  min-width: 80px;
}

.mat-column-Quorum{
  width: fit-content;
  min-width: 105px;
}

.mat-column-Acciones{
  width: fit-content;
  min-width: 123px;
}

// CSS Mobile
@media(max-width: 1055px) {
  .mobile-label {
    width: 154px;
    display: block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 5px;
  }

  mat-cell:first-of-type{
    padding-left: 0;
    padding-bottom: 1%;
  }

  mat-cell:last-of-type{
    padding-right: 0;
  }

  .mat-cell{
    justify-content: inherit;
    width: 100%;
  }

  .example-container {
    margin: 5%;
    //width: 15px;
    //overflow-x: hidden;
    display: block;
   }

   .colum-mobile{
    width: 100%;
   }

  .mat-table {
    margin: auto;
    //width: 100%;

//    width: min-content;
  }

  .mat-button{
    min-width: auto;
  }

  .mat-icon{
    font-size: auto;
  }

  .fondo{
    background-color: #3f51b5;
    background-image: unset;
    //height: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
