<div class="fondo">
  <div class="boton-volver">
    <button mat-raised-button color="warn" (click)="volverReunion()">Volver Reunión</button>
  </div>
  <div class="user-div">


    <div class="botones-agregar" *ngIf="esAdmin">

      <button mat-raised-button class="boton-agregar" (click)="goToAgregarItemComun()">Agregar Item</button>

      <button mat-raised-button class="boton-agregar" (click)="goToAgregarItemComunicacion()">Agregar
        Comunicación</button>

      <button mat-raised-button class="boton-agregar" (click)="showOrdendiaPDF()">Ver PDF</button>

    </div>
    <div class="botones-agregar" *ngIf="!esAdmin">
      <button mat-raised-button class="boton-agregar" (click)="showOrdendiaPDF()">Ver PDF</button>
    </div>

    <div class="headerOfComponent">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h1 class="display-4">{{titulo}}</h1>
      </mat-card>
    </div>

    <div class="textoCentrado">
      <div *ngIf="introduccion">
        <mat-card class="mat-elevation-z6" [innerHTML]=introduccion></mat-card>
      </div>
      <div class="headerOfComponent" *ngIf="!introduccion">
        <mat-card class="mat-elevation-z6-tituloTabla">
          <h3>Generando introducción...</h3>
        </mat-card>
      </div>
    </div>

    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">

        <div *ngIf="itemsComunes">
          <div *ngIf="itemsComunes.length; else noItems">
            <div *ngFor="let itemcomun of itemsComunes">
              <div class="grilla">

                <div class="div-contenido">
                  <div> {{itemcomun.numero}}. </div>
                  <div class="contenido-item" [innerHTML]=itemcomun.contenido></div>
                </div>

                <div class="div-flechas">
                  <button mat-button matTooltip="subir item" *ngIf="esAdmin"
                    (click)="decrementarItemNumero(itemcomun.id, itemcomun.tipo)">
                    <mat-icon>arrow_upward</mat-icon>
                  </button>
                  <button mat-button matTooltip="bajar item" *ngIf="esAdmin"
                    (click)="aumentarItemNumero(itemcomun.id, itemcomun.tipo)">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                </div>
              </div>

              <div class="div-anexo" *ngIf="itemcomun.contenido">
                <button mat-raised-button *ngIf="itemcomun.adjunto" (click)="verAdjunto(itemcomun.id)">Ver Adjunto</button>
                <button mat-button matTooltip="Editar" *ngIf="esAdmin" (click)="editItem(itemcomun.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button matTooltip="Eliminar" *ngIf="esAdmin" (click)="confirmarEliminarItem(itemcomun)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button *ngIf="esSecretario" (click)="verDecision(itemcomun.id)">Decision</button>
              </div>
            </div>
          </div>
          <ng-template #noItems>
            <div>
              No hay Items comunes
            </div>
          </ng-template>
        </div>
        <div *ngIf="!itemsComunes">
          Buscando Items Comunes...
        </div>
      </mat-card>
    </div>

    <div class="textoIzquierdaNegrita">
      <mat-card class="mat-elevation-z6">
        {{separadorSobretabla}}
      </mat-card>
    </div>

    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">
        <div *ngIf="itemsSobretabla">
          <div *ngIf="itemsSobretabla.length; else noItemsSobretabla">
            <div *ngFor="let itemSobretabla of itemsSobretabla">
              <div class="grilla">
              <div class="div-contenido">
                <div> {{itemSobretabla.numero}}. </div>
                <div class="contenido-item" [innerHTML]=itemSobretabla.contenido></div>
              </div>

              <div class="div-flechas">
                <button mat-button matTooltip="subir item" *ngIf="esAdmin"
                  (click)="decrementarItemNumero(itemSobretabla.id, itemSobretabla.tipo)">
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button mat-button matTooltip="bajar item" *ngIf="esAdmin"
                  (click)="aumentarItemNumero(itemSobretabla.id, itemSobretabla.tipo)">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
            </div>
              <div class="div-anexo" *ngIf="itemSobretabla.contenido">
                <button mat-raised-button *ngIf="itemSobretabla.adjunto" (click)="verAdjunto(itemSobretabla.id)">Ver Adjunto</button>
                <button mat-button matTooltip="Editar" *ngIf="esAdmin" (click)="editItem(itemSobretabla.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button matTooltip="Eliminar" *ngIf="esAdmin" (click)="deleteItem(itemSobretabla.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button *ngIf="esSecretario"
                  (click)="verDecision(itemSobretabla.id)">Decision</button>
              </div>
            </div>
          </div>
          <ng-template #noItemsSobretabla>
            <div>
              No hay ítems sobretabla
            </div>
          </ng-template>
        </div>
        <div *ngIf="!itemsSobretabla">
          Buscando Items Sobretabla...
        </div>
      </mat-card>
    </div>

    <div class="textoIzquierdaNegrita">
      <mat-card class="mat-elevation-z6">
        {{separadorComunicaciones}}
      </mat-card>
    </div>

    <div class="textoIzquierda">
      <mat-card class="mat-elevation-z6">
        <div *ngIf="itemsComunicacion">
          <div *ngIf="itemsComunicacion.length; else noItemsComunicacion">
            <div *ngFor="let comunicacion of itemsComunicacion">
              <div class="grilla">
              <div class="div-contenido">
                <div> {{comunicacion.numero}}. </div>
                <div class="contenido-item" [innerHTML]=comunicacion.contenido></div>
              </div>

              <div class="div-flechas">
                <button mat-button matTooltip="subir item" *ngIf="esAdmin"
                  (click)="decrementarItemNumero(comunicacion.id, comunicacion.tipo)">
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button mat-button matTooltip="bajar item" *ngIf="esAdmin"
                  (click)="aumentarItemNumero(comunicacion.id, comunicacion.tipo)">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </div>
            </div>
              <div class="div-anexo" *ngIf="comunicacion.contenido">
                <button mat-raised-button *ngIf="comunicacion.adjunto" (click)="verAdjunto(comunicacion.id)">Ver Adjunto</button>
                <button mat-button matTooltip="Editar" *ngIf="esAdmin" (click)="editItem(comunicacion.id)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-button matTooltip="Eliminar" *ngIf="esAdmin" (click)="deleteItem(comunicacion.id)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-raised-button *ngIf="esSecretario" (click)="verDecision(comunicacion.id)">Decision</button>
              </div>
            </div>
          </div>
          <ng-template #noItemsComunicacion>
            <div>
              No hay comunicaciones
            </div>
          </ng-template>
        </div>
        <div *ngIf="!itemsComunicacion">
          Buscando Comunicaciones...
        </div>
      </mat-card>
    </div>
  </div>
</div>
