.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height:auto;
  min-height: 100%;
   width:100%;
   position: absolute;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.mat-raised-button{
  margin: 1%;
}

.boton-agregar{
  background-color:  cornflowerblue;
  color: white;
}

.div-contenido{
  display: flex;
  width: 80%;
  float: left;
  overflow: hidden;
}

.div-flechas{
  width: 20%;
  float: left;
  text-align: right;
  overflow: hidden;
}

.grilla{
  overflow: hidden;
}

.div-contenido p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-contenido ul,ol {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contenido-item{
  padding-left: 1%;
  width: 100%;
}

.contenido-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.div-anexo{
  text-align: right;
}

.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.textoCentrado{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5%;

  padding-top: 1%;
  padding-bottom: 1%;
}

.textoIzquierda{
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.textoIzquierdaNegrita{
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.boton-volver{
  text-align: right;
}

.mat-elevation-z6-tituloTabla{
  padding: auto;
  display: inline-block;
  text-align: center;

}

.headerOfComponent {
  padding: 0;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;;
  padding-left: 5%;
  padding-right: 5%;
}

.display-4{
  margin: 0px;
}
