<div class="fondo-imagen">
  <div class="container">
    <mat-card class="mat-elevation-z6">
      <div id="divTitle">
          <span id="spanTitle">Cambiar contraseña</span>
      </div>
      <form [formGroup]="emailForm" class="formulario" novalidate>
        <mat-form-field class="full-width-input">
          <input matInput maxLength="50" formControlName="email" placeholder="Email" required>
          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
        <button mat-raised-button id="btnLogin" color="primary" (click)="enviarMailResetPass()">Enviar</button>
      </form>
    </mat-card>
  </div>
  </div>
