.container{
  width: 400px;
   max-width: 400px;
   position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
}

.formulario{
   display:flex;
   flex-direction: column;
}

#btnLogin{
   display:block;
   margin:0 auto;
   width: 100px
}

#divTitle{
   text-align: center;
   margin-bottom:10px;
}

#spanTitle{
   font-size:17px;
}

#divRegister{
   margin-top:10px;
}

#spanRegister{
   font-size:14px;
   color:gray;
   cursor: pointer;
}

@media(max-width: 1055px) {

 .container{
   width: 100%;
 }


}


.fondo-imagen{
 height: 100%;
 width:100%;
 background-image: url('../../imagenes/DCIC2.png');
 background-position:center;
 background-repeat: repeat-y; //puede ir space
 background-size: cover;
 position: relative;
}

img {
 /* Set up proportionate scaling */
 width: 100%;
 height: auto;
 width: 1538px;
 height: 1024px;
 /* Set up positioning */
 position: fixed;
 top: 0;
 left: 0;
}
