<!--link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"-->

<div class="centrado">
  <mat-toolbar color="primary">
    <div class="contenido-izquierda">
      <button mat-button matTooltip="Ir a inicio" routerLink=''>
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <span class="fill-remaining-space"></span>

    <div class="contenido-derecha" *ngIf=showDropdownLogin>
      <button mat-button [matMenuTriggerFor]="account">
        {{username}}
        <mat-icon>person</mat-icon>

      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="goToLogin()">Login</button>
        <button mat-menu-item (click)="goToRegister()">Registrarse</button>
      </mat-menu>
    </div>

    <div class="contenido-derecha" *ngIf=!showDropdownLogin>
      <button mat-button [matMenuTriggerFor]="account">
        <span> {{username}} </span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #account="matMenu">
        <button mat-menu-item (click)="logout()">Salir</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
<div class="dashboard">
  <router-outlet></router-outlet>
</div>
