.fill-remaining-space {
  flex: 1 1 auto;
}

.containerMain {
padding: 0%;
}

.hrWhite {
color: white;
background-color: white;
}

.material-icons {
  font-size: 24px;
}

.mat-button {
  font-size: 18px;
}


.centrado{
  position: relative;
  height: auto;
}

.contenido-izquierda{
  text-align: left;
}

.contenido-derecha{
  text-align: right;
}

.container-fluid{
height: auto;
width: 100%;
flex-direction: column;
display: flex;
}

.container{
min-height:100vh;
flex-direction: column;
display: flex;
}

.col-lg-12{
  display: flex;
  align-items: center;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.dashboard{
  height: 100%;
	width:100%;
  //background-image: url('imagenes/DCIC2.png');
	//background-position:center;
//	background-repeat: repeat-y; //puede ir space
//  background-size: cover;
  position: relative;


}

img {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  width: 1538px;
  height: 1024px;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

//goblales
.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
  color: white;
}

.divLink{
  display: flex;
}

.navigate {
  background: #272727;
  color: #fff;
  }

.aNavigate {
  color:white;
  text-decoration: none;

}

.aNavigate:focus, .aNavigate:hover {
  color: white;
  text-decoration: underline;
}

.mat-toolbar{
  padding: 0;
}
