<div class="fondo">
<div class="user-div">
  <div class="div-titulo-pag">
    <h2 class="display-4">{{title}}</h2>
    <hr>
  </div>

  <div class="boton-precargada">
    <button mat-raised-button color="primary" [disabled]=!cargoItem (click)="seleccionarPrecargada()">Item
      Precargada</button>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [enabled]='habilitarRTE' [(value)]='value' [toolbarSettings]='tools'> </ejs-richtexteditor>
      <div class="botones-texto">
        <button mat-raised-button color="basic" *ngIf="habilitarRTE" [disabled]=!cargoItem (click)="validarTexto()">Confirmar texto</button>
        <button mat-raised-button color="basic" *ngIf="!habilitarRTE" [disabled]=!cargoItem (click)="cambiarTexto()">Cambiar texto</button>
        <button mat-raised-button color="warn" [disabled]=!habilitarRTE (click)="limpiarTexto()">Borrar texto</button>
      </div>

      <div *ngIf="!editState">
        <label>Cargar Adjunto</label>
        <input type="file" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileEvent($event)"
          accept="application/pdf" />
      </div>
      <div *ngIf="editState">
        <div *ngIf="mostrarCargarAdjunto">
          <div class="div-input">
            <input type="file" button="mat-raised-button" color="basic" #fileupload [(ngModel)]="myFile" name="myFile" (change)="fileEvent($event)" accept="application/pdf" />
          </div>
          <div>
            <button mat-raised-button color="basic" [disabled]=!seleccionoArchivo (click)="agregarAdjunto()">Agregar
              Adjunto</button>
          </div>
        </div>

        <div *ngIf="mostrarEliminarAdjunto">
          <button (click)="eliminarAdjunto()">Eliminar Adjunto</button> Nombre Adjunto: {{itemEditado.adjunto}}
        </div>
      </div>
    </mat-card>

  </div>

  <div class="botones-agregar" *ngIf="!editState">

    <button mat-raised-button color="primary" [disabled]=!textoValido (click)="guardarItem()">Agregar</button>

    <button mat-raised-button color="warn" (click)="goToOrdendia()">Cancelar</button>

  </div>
  <div class="botones-agregar" *ngIf="editState">

    <button mat-raised-button color="primary" [disabled]=!textoValido (click)="editarItem()">Guardar</button>

    <button mat-raised-button color="warn" (click)="goToOrdendia()">Cancelar</button>

  </div>
</div>
</div>
