
.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.boton-div {
  padding-top: 2%;
  padding-bottom: 2%;
  padding: 2%;
}

.mat-elevation-z6{
  display: inline-block;
 text-align: center;
 padding-bottom: 0;
 padding-top: 0;
}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;;
}

.div-input {
  padding: 2%;
  padding-top: 0%;
  padding-bottom: 2%;
  text-align: center;
}

input {
  font-size: larger;
}
/*
.input-full-width {
  width: 60%;
  text-align: center;
}*/

.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.backCreate {
  margin-left: 5%;
}

.input-full-width {
  width: 60%;
  text-align: center;
}

.h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
  color: white;
}

.td{
  padding: 1%;
}




.mat-header-cell{
  font-weight: bold;
  color: black;
  font-size: 15px;
  justify-content: center;
}

.example-container {
  max-width: 1200px;
  margin: auto;

  //display: inline-flex; lo saque despeus de poner paginacion
 }


.mat-table {
  margin: auto;
  margin-top: 0;
  padding: 1%;
}

.mobile-label {
  display: none;
}

mat-header-cell:first-of-type {
  padding-left: 0;
}

mat-cell:first-of-type{
  padding-left: 0;
}

mat-cell:last-of-type{
  padding-right: 0;
}

mat-header-cell:last-of-type {
  padding-right: 0;
}

.mat-footer-row, mat-row {
  min-height: auto;
}

.mat-header-cell{
  text-align: center;
  display: flex;
}

.mat-cell{
  font-size: medium;
  justify-content: center;
  display: block;
}

.mat-column-Nombre{
  width: fit-content;
  min-width: 170px;
}

.mat-column-Apellido{
  width: fit-content;
  min-width: 170px;
}

.mat-column-E-Mail{
  width: fit-content;
  min-width: 255px;
}

.mat-column-Telefono{
  width: fit-content;
  min-width: 115px;
}

.mat-column-Puesto{
  width: fit-content;
  min-width: 65px;
}

.mat-column-TituloAcademico{
  width: fit-content;
  min-width: 135px;
}

.mat-column-Acciones{
  width: fit-content;
  min-width: 115px;
}

.mat-button{
  min-width: auto;
}


// CSS Mobile
@media(max-width: 1055px) {

  .mat-header-cell{
    display: block;
  }

  .mobile-label {
    width: 154px;
    display: block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 5px;
  }

  mat-cell:first-of-type{
    padding-left: 0;
    padding-bottom: 1%;
  }

  mat-cell:last-of-type{
    padding-right: 0;
  }

  .mat-cell{
    justify-content: inherit;
    width: 100%;

    display: flex;
  }

  .example-container {
    margin: 5%;
    display: block;
   }

   .colum-mobile{
    width: 100%;
   }

  .mat-table {
    margin: auto;
  }

  .mat-button{
    min-width: auto;
  }

  .mat-icon{
    font-size: auto;
  }

  .fondo{

    background-color: #3f51b5;
    background-image: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
