<div class="fondo">
  <div class="user-div">

    <div class="div-titulo-pag">
      <h2 class="display-4">Listado de Usuarios del Sistema</h2>
      <hr>
    </div>

    <!--div class="container-fluid boton-div">
      <button mat-raised-button class="boton-crear" color="primary" (click)="addAdminView()">Crear Usuario</button>
    </div-->

    <div class="div-input">
      <mat-card class="mat-elevation-z6">
        <mat-form-field>
          <mat-label>Buscar</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese apellido">
        </mat-form-field>
      </mat-card>
    </div>

    <div class="example-container mat-elevation-z8">
      <!-- TABLA Users -->
      <mat-table #table [dataSource]="dataSource" >

        <!-- Nombre Column -->
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Nombre</span>
            <div class="colum-mobile">
              {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="Apellido">
          <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Apellido</span>
            <div class="colum-mobile">
              {{element.apellido}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- E-Mail Column -->
        <ng-container matColumnDef="E-Mail">
          <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">E-Mail</span>
            <div class="colum-mobile">
              {{element.email}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Telefono Column -->
        <ng-container matColumnDef="Telefono">
          <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Telefono</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Puesto Column -->
        <ng-container matColumnDef="Puesto">
          <mat-header-cell *matHeaderCellDef>Puesto</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Puesto</span>
            <div class="colum-mobile">
              <div *ngIf="element.puesto">Titular</div>
              <div *ngIf="!element.puesto">Suplente</div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TituloAcademico Column -->
        <ng-container matColumnDef="TituloAcademico">
          <mat-header-cell *matHeaderCellDef>Titulo Academico</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Titulo Academico</span>
            <div class="colum-mobile">
              {{element.titulo_academico}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acciones</span>
            <div class="colum-mobile">
              <button mat-button matTooltip="Editar" (click)="editUser(element.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button matTooltip="Eliminar" (click)=" confirmarEliminarUsuario(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>
    <div class="example-container mat-elevation-z8">
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
