<div class="fondo">
  <div class="user-div">

    <div class="div-titulo-pag">
      <h2 class="display-4">Listado de Items precargados</h2>
      <hr>
    </div>

    <div class="boton-volver">
      <button mat-raised-button color="warn" *ngIf="estaSeleccionando" (click)="volverItem()">Volver Item</button>
      <button mat-raised-button color="warn" (click)="volverInicio()">Volver Inicio</button>
    </div>

    <div class="container-fluid boton-div">
      <button mat-raised-button class="boton-crear" color="primary" *ngIf="!estaSeleccionando"
        (click)="createPrecargada()">Crear item Precargado</button>
    </div>

    <div class="div-input">
      <div class="textoCentrado">
        <mat-card class="mat-elevation-z6">
          <input type="text" [(ngModel)]="textoFiltro" placeholder="Buscar contenido" />
        </mat-card>
      </div>
    </div>

    <div class="textoCentrado">
      <mat-card class="mat-elevation-z6">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <div *ngIf="itemsPrecargados">
                <div *ngIf="itemsPrecargados.length; else noitemsPrecargados">
                  <thead>
                    <tr class="text-center">
                      <th class="text-center" scope="col">Contenido</th>
                      <th class="text-center" scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemPrecargado of itemsPrecargados | filter : textoFiltro : 'contenido'">
                      <td>
                        <div class="contenido" [innerHTML]=itemPrecargado.contenido></div>
                      </td>
                      <td>
                        <div class="div-acciones">
                          <button mat-stroked-button *ngIf="estaSeleccionando"
                            (click)="seleccionarPrecargada(itemPrecargado.contenido)">Seleccionar</button>
                          <button mat-button matTooltip="Editar" *ngIf="!estaSeleccionando"
                            (click)="editPrecargada(itemPrecargado.id)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-button matTooltip="Eliminar" *ngIf="!estaSeleccionando"
                            (click)=" confirmarEliminarPrecargada(itemPrecargado.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </div>
                <ng-template #noitemsPrecargados>
                  <div>
                    No hay ítems precargados.
                  </div>
                </ng-template>
              </div>
              <div *ngIf="!itemsPrecargados">
                <thead>
                  <tr class="text-center">
                    <th class="text-center" scope="col">Contenido</th>
                    <th class="text-center" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
                Buscando ítems precargados...
              </div>
            </table>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
