.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.boton-div {
  padding: 0%;
}

.boton-volver{
  text-align: right;
  margin-left: 1%;
  margin-right: 1%;
}


.boton-crear{
  background-color:  cornflowerblue;
}

.mat-raised-button{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

.mat-button{
  padding: 0 5px;
  min-width: auto;
}


.div-input {
 // padding: 2%;
 // padding-top: 2%;
  padding-bottom: 2%;
}

input {
  font-size: larger;
}


.mat-elevation-z6{
  display: inline-block;
}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;;
}

.h1{
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;

  color: white;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
}

.td{
  padding: 1%;
}

.textoCentrado{
  display: inline-block;
}

.div-acciones{
  display: flex;
}

.mat-card{
  display: inline-block;
}

.contenido{
  text-align: left;
}

.contenido p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;

}

.contenido ul,il,li {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

// CSS Mobile
@media(max-width: 1055px) {

  .fondo{
    background-image: linear-gradient(to bottom,#3f51b5,white);
    //height: 100%;
    //height: inherit;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
