.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.container{
    width: 400px;
    max-width: 400px;
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#btnRegister{
    display: inline;
    //width: 70%;
}

#btnCacel{
    display: inline;
    //width: 100%;
}

#divTitle{
    text-align: center;
    margin-bottom:10px;
}

#spanTitle{
    font-size:17px;
}

.formulario{
    display:flex;
    flex-direction: column;
}

#divLogin{
    margin-top:10px;
}

#spanLogin{
    font-size:14px;
    color:gray;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 18px;

    border: none;
  }

  .btn-secondary{
font-size: 18px;
padding: 2%;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b8b8b8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .row{
    text-align: center;
  }


  @media(max-width: 1055px) {

    .container{
      width: 100%;
    }

    .fondo{

      background-color: #3f51b5;
      background-image: unset;
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }

  }
