<div class="fondo">
<div class="container">
  <mat-card class="mat-elevation-z6">
    <div id="divTitle">
      <span id="spanTitle">{{this.title}}</span>
    </div>
    <form [formGroup]="registerForm" class="formulario" novalidate autocomplete="off">

      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" formControlName="nombre" placeholder="Nombre del Usuario" required>
        <mat-error>{{getFieldLettersError("nombre")}}</mat-error>

      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" formControlName="apellido" placeholder="Apellido del Usuario" required>
        <mat-error>{{getFieldLettersError("apellido")}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" formControlName="email" placeholder="Email" required>
        <mat-error>{{getEmailError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" formControlName="telefono" placeholder="Telefono" required>
        <mat-error>{{getFieldNumbersError("telefono")}}</mat-error>
      </mat-form-field>

      <div class="dropdown text-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{generoElegido}}
          <span class="caret"></span></button>
        <div class="dropdown-content">
          <a (click)="generoSeleccionado(genero)" *ngFor="let genero of listaGeneros">{{genero}}</a>
        </div>
      </div>
      <p></p>

      <div class="dropdown text-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{tituloElegido}}
          <span class="caret"></span></button>
        <div class="dropdown-content">
          <a (click)="tituloSeleccionado(titulo)" *ngFor="let titulo of listaTitulos">{{titulo}}</a>
        </div>

      </div>
      <p></p>

      <div *ngIf="!editState" formGroupName="passwordGroup" class="formulario">
        <mat-form-field class="full-width-input">
          <input matInput maxLength="50" type="password" formControlName="password" placeholder="Contraseña" required>
          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput maxLength="50" type="password" formControlName="repeatPassword"
            placeholder="Repetir contraseña" required>
          <mat-error>{{errors.confirmPassword}}</mat-error>
        </mat-form-field>
      </div>

      <div class="dropdown" *ngIf="editState">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Seleccione Rol del usuario
          <span class="caret"></span></button>
        <div class="dropdown-content">
          <a *ngFor="let item of listaRolesCheckList">
              <input type="checkbox" [(ngModel)]="item.isSelected" [ngModelOptions]="{standalone:true}" />{{item.value}}</a>
        </div>
      </div>

      <p></p>

      <div class="dropdown text-center" *ngIf="editState">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{puestoElegido}}
          <span class="caret"></span></button>
        <div class="dropdown-content">
          <a (click)="puestoSeleccionado(puesto)" *ngFor="let puesto of listaPuestos">{{puesto}}</a>
        </div>
      </div>
      <p></p>

      <div class="row">

        <div *ngIf="!editState" class="col-md-6"><button mat-raised-button id="btnRegister" color="primary" (click)="register()">Aceptar</button></div>
        <div *ngIf="editState" class="col-md-6"><button  mat-raised-button id="btnRegister" color="primary" (click)="update()">Aceptar</button></div>
        <p></p>
        <div class="col-md-6"><button mat-raised-button id="btnCancel" color="warn" (click)="cancel()">Cancelar</button></div>

      </div>

    </form>
  </mat-card>
</div>
</div>
