<div class="user-div">

  <div class="div-titulo-pag">
    <h2 class="display-4">{{title}}</h2>
    <hr>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [(value)]='value' [toolbarSettings]='tools'> </ejs-richtexteditor>
      <div class="botones-texto">
        <button mat-raised-button color="basic" (click)="validarTexto()">Confirmar texto</button>
        <button mat-raised-button color="warn" (click)="limpiarTexto()">Borrar texto</button>
      </div>
    </mat-card>

  </div>

  <div class="botones-agregar" >

    <button mat-raised-button color="primary" [disabled]=!textoValido *ngIf="!editState" (click)="crearPrecargada()">Guardar</button>
    <button mat-raised-button color="primary" [disabled]=!textoValido *ngIf="editState" (click)="editarPrecargada()">Guardar</button>

    <button mat-raised-button color="warn" (click)="goToPrecargadas()">Cancelar</button>

  </div>
</div>
