.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.mat-raised-button{
  margin: 1%;
}

.mat-elevation-z6{
  text-align: left;
}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;;
}

.display-4{
  margin: 0px;
}



.nx-richtext-input p {
  margin: 0px;
  padding: 0px;
}

.nx-fieldtext p {
  margin: 0px;
  padding: 0px;
}

.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.backCreate {
  margin-left: 5%;
}

.input-full-width {
  width: 60%;
  text-align: center;
}

.h1{
  margin-top: 0px;
  margin-bottom: 0px;
}

.textoCentrado{
text-align: center;
display: flex;
    flex-direction: column;
    padding: 1%;
}

.textoIzquierda{
  text-align: left;
  display: flex;
    flex-direction: column;
    padding: 5%;
}

.textoIzquierdaNegrita{
  text-align: left;
  display: flex;
    flex-direction: column;
    font-weight: bolder;
    padding: 1%;
}

.botones-texto{
  text-align: right;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
  color: white;
}

.div-contenido{
  display: flex;
}

.div-contenido p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.div-contenido ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.contenido-item{
  padding-left: 1%;
  width: 100%;
}

.contenido-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
