<div class="fondo-imagen">
<div class="container">
  <mat-card class="mat-elevation-z6">
    <div id="divTitle">
        <span id="spanTitle">Por favor ingrese para continuar</span>
    </div>
    <form [formGroup]="loginForm" class="formulario" novalidate>
      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" formControlName="email" placeholder="Email" required>
        <mat-error>{{errors.required}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput maxLength="50" type="password" formControlName="password" placeholder="Contraseña" required>
        <mat-error>{{errors.required}}</mat-error>
      </mat-form-field>
      <div class="div-reset-pass">
        <button mat-button color="primary" (click)="goToResetPass()">¿Olvidaste tu contraseña?</button>
      </div>
      <button mat-raised-button id="btnLogin" color="primary" (click)="login()" >Ingresar</button>
    </form>
  </mat-card>
</div>
</div>
