
.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  //height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-bottom: 2%;
}


.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.boton-div {
  padding-top: 2%;
  padding-bottom: 2%;
  padding: 2%;

}

.boton-volver{
  text-align: right;
}

.mat-elevation-z6-tituloTabla{
  margin: 1%;
  padding: auto;;
  display: inline-block;
  text-align: center;

}

.mat-elevation-z6{
  display: inline-block;
  text-align: center;

}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.display-4{
  margin: 0px;
}

.input-full-width {
  width: 60%;
  text-align: center;
}

.h1{
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}

.backCreate {
  margin-left: 5%;
}


.col-md-12{
  display: flex;
}


.mat-raised-button{
  margin: 1%;
}

.boton-volver{
  text-align: right;
}

.td{
  padding: 1%;
}



/*
.fondo{
  height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}*/


.mat-header-cell{
  font-weight: bold;
  color: black;
  font-size: 15px;
  justify-content: center;
}

.example-container {
  max-width: 1200px;
  margin: auto;

  display: inline-flex;
 }

.mat-table {
  margin: auto;
  margin-top: 0;
  padding: 1%;
}

.mat-elevation-z8{
  background-color: white;
}

.mobile-label {
  display: none;
}

mat-header-cell:first-of-type {
  padding-left: 0;
}

mat-cell:first-of-type{
  padding-left: 0;
}

mat-cell:last-of-type{
  padding-right: 0;
}

mat-header-cell:last-of-type {
  padding-right: 0;
}

.mat-footer-row, mat-row {
  min-height: auto;
}

.mat-header-cell{
  text-align: center;
}

.mat-cell{
  font-size: medium;
  justify-content: center;
}

.mat-column-TITULARES{
  width: fit-content;
  min-width: 135px;
}

.mat-column-SUPLENTES{
  width: fit-content;
  min-width: 135px;
}

.mat-column-Decano{
  width: fit-content;
  min-width: 135px;
}

.mat-column-Vicedecano{
  width: fit-content;
  min-width: 135px;
}

.mat-column-C{
  width: fit-content;
  min-width: 24px;
}

.mat-column-P{
  width: fit-content;
  min-width: 24px;
}

.mat-column-TELEFONO{
  width: fit-content;
  min-width: 115px;
}

.mat-column-Accion{
  width: fit-content;
  min-width: 145px;
}

.mat-button{
  min-width: auto;
}


// CSS Mobile
@media(max-width: 1055px) {
  .mobile-label {
    width: 154px;
    display: block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 5px;
  }

  mat-cell:first-of-type{
    padding-left: 0;
    padding-bottom: 1%;
  }

  mat-cell:last-of-type{
    padding-right: 0;
  }

  .mat-cell{
    justify-content: inherit;
    width: 100%;
  }

  .example-container {
    margin: 5%;
    display: block;
   }

   .colum-mobile{
    width: 100%;
   }

  .mat-table {
    margin: auto;
  }

  .mat-button{
    min-width: auto;
  }

  .mat-icon{
    font-size: auto;
  }

  .fondo{

    background-color: #3f51b5;
    //background-image: linear-gradient(to bottom,#3f51b5,white);
    background-image: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
