<div class="fondo">
  <div class="boton-volver">
    <button mat-raised-button color="warn" (click)="volverReunion()">Volver Reunión</button>
  </div>
  <div class="user-div">


    <div class="headerOfComponent">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h2 class="display-4">Autoridades</h2>
      </mat-card>
    </div>

    <div class="example-container mat-elevation-z8">
      <!-- TABLA Autoridades Titulares -->
      <mat-table #table [dataSource]="dataSourceAutoridadesTit" >

        <!-- Decano Column -->
        <ng-container matColumnDef="Decano">
          <mat-header-cell *matHeaderCellDef>Decano</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Decano</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsAutoridadesTit"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsAutoridadesTit();"></mat-row>
      </mat-table>

      <!-- TABLA Autoridades Suplentes -->
      <mat-table #table [dataSource]="dataSourceAutoridadesSup" >

        <!-- SUPLENTES Column -->
        <ng-container matColumnDef="Vicedecano">
          <mat-header-cell *matHeaderCellDef>Vicedecano</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Vicedecano</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsAutoridadesSup"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsAutoridadesSup();"></mat-row>
      </mat-table>
    </div>



    <div class="headerOfComponent">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h2 class="display-4">Profesores</h2>
      </mat-card>
    </div>

    <div class="example-container mat-elevation-z8">
      <!-- TABLA Profesores Titulares -->
      <mat-table #table [dataSource]="dataSourceProfesorTit" >

        <!-- TITULARES Column -->
        <ng-container matColumnDef="TITULARES">
          <mat-header-cell *matHeaderCellDef>TITULARES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TITULARES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsTit"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsTit();"></mat-row>
      </mat-table>

      <!-- TABLA Profesores Suplentes -->
      <mat-table #table [dataSource]="dataSourceProfesorSup" >

        <!-- SUPLENTES Column -->
        <ng-container matColumnDef="SUPLENTES">
          <mat-header-cell *matHeaderCellDef>SUPLENTES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">SUPLENTES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsSup"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsSup();"></mat-row>
      </mat-table>
    </div>

    <div class="headerOfComponent">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h2 class="display-4">Auxiliares</h2>
      </mat-card>
    </div>

    <div class="example-container mat-elevation-z8">
      <!-- TABLA Auxiliar Titulares -->
      <mat-table #table [dataSource]="dataSourceAuxiliarTit" >

        <!-- TITULARES Column -->
        <ng-container matColumnDef="TITULARES">
          <mat-header-cell *matHeaderCellDef>TITULARES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TITULARES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsTit"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsTit();"></mat-row>
      </mat-table>

      <!-- TABLA Auxiliares Suplentes -->
      <mat-table #table [dataSource]="dataSourceAuxiliarSup" >

        <!-- SUPLENTES Column -->
        <ng-container matColumnDef="SUPLENTES">
          <mat-header-cell *matHeaderCellDef>SUPLENTES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">SUPLENTES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsSup"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsSup();"></mat-row>
      </mat-table>
    </div>

    <div class="headerOfComponent">
      <mat-card class="mat-elevation-z6-tituloTabla">
        <h2 class="display-4">Alumnos</h2>
      </mat-card>
    </div>
    <div class="example-container mat-elevation-z8">
      <!-- TABLA Alumnos Titulares -->
      <mat-table #table [dataSource]="dataSourceAlumnoTit" >

        <!-- TITULARES Column -->
        <ng-container matColumnDef="TITULARES">
          <mat-header-cell *matHeaderCellDef>TITULARES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TITULARES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsTit"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsTit();"></mat-row>
      </mat-table>

      <!-- TABLA Alumnos Suplentes -->
      <mat-table #table [dataSource]="dataSourceAlumnoSup" >

        <!-- SUPLENTES Column -->
        <ng-container matColumnDef="SUPLENTES">
          <mat-header-cell *matHeaderCellDef>SUPLENTES</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">SUPLENTES</span>
            <div class="colum-mobile">
              {{element.apellido}}, {{element.nombre}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- C Column -->
        <ng-container matColumnDef="C">
          <mat-header-cell *matHeaderCellDef>C</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">C</span>
            <div class="colum-mobile">
              <div *ngIf=element.asistire>
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="!element.asistire">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- P Column -->
        <ng-container matColumnDef="P">
          <mat-header-cell *matHeaderCellDef>P</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">P</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario && element.presente">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngIf="esSecretario && !element.presente">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- TELEFONO Column -->
        <ng-container matColumnDef="TELEFONO">
          <mat-header-cell *matHeaderCellDef>TELÉFONO</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">TELÉFONO</span>
            <div class="colum-mobile">
              {{element.telefono}}
            </div>
          </mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Acción</span>
            <div class="colum-mobile">
              <div *ngIf="esSecretario">
                <button mat-stroked-button [disabled]=!element.asistire
                  (click)="cambiarPresente(element.asistencia_id)">Cambiar presente</button>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsSup"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumnsSup();"></mat-row>
      </mat-table>
    </div>

  </div>
</div>
