<div class="fondo">
<div class="user-div">

  <div class="div-titulo-pag">
    <h2 class="display-4">{{title}}</h2>
    <hr>
  </div>

  <div class="boton-precargada">
    <button mat-raised-button color="primary" [disabled]=!cargoDecision (click)="seleccionarPrecargada()">Decision Precargada</button>
  </div>

  <div class="textoIzquierda">
    <mat-card class="mat-elevation-z6">
      <ejs-richtexteditor #toolsRTE id='alltoolRTE' [enabled]='habilitarRTE' [(value)]='value' [toolbarSettings]='tools'> </ejs-richtexteditor>
      <div class="botones-texto">
        <button mat-raised-button color="basic" *ngIf="habilitarRTE" [disabled]=!cargoDecision (click)="validarTexto()">Confirmar texto</button>
        <button mat-raised-button color="basic" *ngIf="!habilitarRTE" [disabled]=!cargoDecision (click)="cambiarTexto()">Cambiar texto</button>
        <button mat-raised-button color="warn" [disabled]=!habilitarRTE (click)="limpiarTexto()">Borrar texto</button>
      </div>
    </mat-card>
  </div>

  <div class="botones-agregar" >
    <button mat-raised-button color="primary" [disabled]=!textoValido (click)="editarDecision()">Guardar</button>
    <button mat-raised-button color="warn" (click)="goToDecisiones()">Cancelar</button>
  </div>

</div>
</div>
