.fondo{
  background-image: linear-gradient(to bottom,#3f51b5,white);
  height:auto;
  min-height: 100%;
   width:100%;
   position: absolute;
}

.user-div{
  height: 100%;
  width: 100%;
  text-align: center;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

.mat-raised-button{
  margin: 1%;
}

.mat-raised-button.mat-primary{
  background-color: cornflowerblue;
}

.mat-card{
  text-align: left;
}

.headerOfComponent {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
    margin-bottom: 0px;;
}

.display-4{
  margin: 0px;
}

.nx-richtext-input p {
  margin: 0px;
  padding: 0px;
}

.nx-fieldtext p {
  margin: 0px;
  padding: 0px;
}

.h1{
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.textoCentrado{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.textoIzquierda{
  text-align: left;
  display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.textoIzquierda h2{
  text-align: center;
  margin: 0;
}

.textoIzquierdaNegrita{
  text-align: left;
  display: flex;
    flex-direction: column;
    font-weight: bolder;
    padding: 1%;
}

.botones-texto{
  text-align: right;
}

.boton-precargada{
  text-align: left;
  padding: 5%;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0;
}

.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}

.display-4{
  text-align: center;
  color: white;
}


// CSS Mobile
@media(max-width: 1055px) {

  .fondo{
    background-color: #3f51b5;
    background-image: unset;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
