<div class="fondo-imagen">
  <div class="container">
    <mat-card class="mat-elevation-z6">
      <div id="divTitle">
          <span id="spanTitle">Cambio de contraseña</span>
      </div>
      <form [formGroup]="resetForm" class="formulario" novalidate>
        <mat-form-field class="full-width-input">
          <input matInput maxLength="50" formControlName="email" placeholder="Email" required>
          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>

        <div formGroupName="passwordGroup" class="formulario">
          <mat-form-field class="full-width-input">
            <input matInput maxLength="50" type="password" formControlName="password" placeholder="Ingrese contraseña nueva" required>
            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput maxLength="50" type="password" formControlName="repeatPassword"
              placeholder="Repetir contraseña" required>
            <mat-error>{{errors.confirmPassword}}</mat-error>
          </mat-form-field>
        </div>



        <button mat-raised-button id="btnLogin" color="primary" (click)="resetPassword()" >Cambiar</button>
      </form>
    </mat-card>
  </div>
  </div>
