

.display-4{
  color: white;
  text-shadow: 1px 1px 5px black;
}

.centradoHV{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.mat-raised-button{
  font-size: larger;
  padding: auto;

  position: relative;
  margin: 3%;
}

.div-boton{
  padding: 5%;
  width: auto;
}


.div-titulo-pag{
  margin: 0;
  padding: 1%;
}

.div-titulo-pag h2{
  margin: 0;
}


.fondo-imagen{
  height: 100%;
	width:100%;
  background-image: url('../../imagenes/DCIC2.png');
	background-position:center;
	background-repeat: repeat-y; //puede ir space
  background-size: cover;
  position: relative;
}

img {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  width: 1538px;
  height: 1024px;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.mat-raised-button.mat-primary {
  background-color: #3f51b5;
}
