<div class="fondo-imagen">
<div class="container-fluid">
  <div class="centradoHV">
    <div class="div-intro">
      <h1 class="display-4">Bienvenido al Organizador de Reuniones del Consejo Departamental</h1>
    </div>
    <div class="botones">
      <button mat-raised-button color="primary" (click)="goToReunion()">Reuniones</button>
      <button *ngIf="esAdmin" mat-raised-button color="primary" (click)="goToUsuarios()">Usuarios</button>
      <button *ngIf="esAdmin" mat-raised-button color="primary" (click)="goToItemsPrecargados()">Items Precargados</button>
      <button *ngIf="esSecretario" mat-raised-button color="primary" (click)="goToDecisionesPrecargadas()">Decisiones Precargadas</button>
    </div>
  </div>
</div>
</div>
