<div class="fondo">
<div class="container">
  <mat-card class="mat-elevation-z6">
    <div id="divTitle">
      <span id="spanTitle">{{this.title}}</span>
    </div>
    <p></p>
    <div class="dropdown text-center" *ngIf="!editState">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">{{myChoice}}
        <span class="caret"></span></button>
      <div class="dropdown-content">
        <a (click)="tipoReunionSeleccionado(choice)" *ngFor="let choice of currentChoiceList">{{choice}}</a>
      </div>
    </div>
    <p></p>
    <form [formGroup]="registerForm" class="formulario" novalidate autocomplete="off" required>
      <mat-form-field class="full-width-input">
      <input [min]="minDate" matInput maxLength="50" formControlName="fecha" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Seleccione Fecha y Hora">
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>

      <p></p>
      <div class="row">

        <div *ngIf="!editState" class="col-md-6"><button mat-raised-button id="btnRegister" color="primary" (click)="register()">Aceptar</button></div>
        <div *ngIf="editState" class="col-md-6"><button  mat-raised-button id="btnRegister" color="primary" (click)="update()">Aceptar</button></div>
        <p></p>
        <div class="col-md-6"><button mat-raised-button id="btnCancel" color="warn" (click)="cancel()">Cancelar</button></div>

      </div>

    </form>
  </mat-card>
</div>
</div>
