

<div mat-dialog-content id="textBody">
  {{title}}
</div>

<div mat-dialog-actions align="center" *ngIf="showBottom">
  <button mat-button (click)="closeDialog()">
   {{ bottomText }}
  </button>
</div>


<div mat-dialog-actions align="center" *ngIf="showBottomYesNo">
  <button mat-button [mat-dialog-close]="false">No</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Si</button>
</div>
